.product-slider {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffe3e3; /* Light pink background */
  border: 1px solid #ff99a6; /* Medium pink border */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center the text horizontally */
  font-family: cursive; 
}
.product-slider__wrapper {
  display: flex;
  flex-direction: row; /* Display products horizontally */
  justify-content: center; /* Center the items horizontally */
  overflow: auto; /* Enable horizontal scrolling if needed */
  padding: 10px; /* Add some padding for spacing between items */
}

.product-slider__item {
  min-width: 150px; /* Adjust the minimum width for responsiveness */
  background: #ffd5d5; /* Light pink background */
  border: 1px solid #ff99a6; /* Medium pink border */
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content vertically and horizontally */
}

.product-slider__item img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

h3, p {
  margin: 0;
  text-align: center; /* Center text horizontally */
  font-family:  cursive; 
}

button {
  background: #ff66a3; /* Dark pink background */
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
  font-family: cursive;
}

button:hover {
  background: #ff3385; /* Darker pink background */
}

.product-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffe3e3; /* Light pink background */
  border: 1px solid #ff99a6; /* Medium pink border */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-details img {
  display: block;
  margin: 0 auto;
  max-width: 33%;
  height: auto;
}

.product-details h1 {
  text-align: center; /* Center the text horizontally */
  font-size: 24px;
  margin-bottom: 10px;
  font-family: cursive;
}

.product-details h3 {
  text-align: center; /* Center the text horizontally */
  font-size: 18px;
  margin: 10px 0;
  font-family: cursive; 
}

.product-details p {
  font-size: 16px;
  margin: 10px 0;
  text-align: center; /* Center text horizontally */
  font-family: cursive; 
}

.product-details .loading {
  text-align: center; /* Center the text horizontally */
  font-size: 18px;
  color: #888;
  font-family: cursive;
}